p#pos		{
	position	:absolute;
	left		:0;
	bottom		:0;
}
p#copy	{
	position	:absolute;
	right		:0;
	bottom		:0;
	text-align	:right;
}
body	{
	background-color:silver;
	padding		:0 0 0 0;
	overflow	:auto;
}
iframe#Tracker	{
	position	:absolute;
	left		:-10px;
	top		:-10px;
	width		:1px;
	height		:1px;
}
