p#pos		{
	position	:relative;
	left		:0;
	top		:0;
	margin-block-start: 0em;
	margin-block-end: 0em;
}
p#copy	{
	position	:absolute;
	right		:0;
	bottom		:0;
	text-align	:right;
}
#map-link,
#status,
a	{
	font-family	:Courier New;
}
body	{
	background-color:silver;
	padding		:0 0 0 0;
	overflow	:auto;
}
iframe#Tracker	{
	position	:absolute;
	left		:-10px;
	top		:-10px;
	width		:1px;
	height		:1px;
}
td	{
	white-space	:nowrap;
}
